.accordion {
    display: flex;
    overflow: hidden;
    width: 80%;
    max-width: 900px;
    border-radius: 15px;
}

.accordion__item {
    flex: 1;
    transition: flex 0.52s ease-in-out;
    cursor: pointer;
    position: relative;
}

.accordion__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.accordion__item:hover {
    flex: 5;
}

.accordion__item-info {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    bottom: 10px;
    left: 10px;
    opacity: 0;
    color: white;
}

.accordion__item-icon {
    background-color: #bbbbbb;
    width: 32px;
    height: 32px;
    padding: 10px;
    border-radius: 50%;
}

.accordion__item-title {
    display: flex;
    flex-direction: column;
}

.accordion__item-title h3,
.accordion__item-title p {
    padding: 0;
    margin: 0;
}

.accordion__item:hover .accordion__item-info {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.accordion__item:hover::before {
    content: '';
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background-color 2s ease-in-out;
}
